.layout {
  min-height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
}

.themeToggleWrap {
  position: absolute;
  top: 24px;
  right: 24px;
}

.card {
  max-width: 400px;
  width: 100%;
}

.title {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
}
